header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

#logo {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
}

#logo p {
  padding: 0 10px;
}

#nav {
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

#nav a {
  padding: 0px 20px;
  color: black;
}

#content {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.column-large {
  display: flex;
  flex-direction: column;
  width: 630px;
  padding-top: 5px;
  height: auto;
}

.column-medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.column-small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

#content p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#img_main {
  display: flex;
  background-image: url("../images/img-story-main.png");
  flex-shrink: 0;
  background-size: cover;
  padding: 0 10px;
}

#img_main p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  width: 100%;
  text-align: center;
}

#img_story_1 {
  display: flex;
  background-image: url("../images/img-story-2.png");
  height: 100%;
  justify-content: center;
}

#img_story_2 {
  display: flex;
  background-image: url("../images/img-story-3.png");
  height: 100%;
  justify-content: center;
}

#img_story_3 {
  display: flex;
  background-image: url("../images/img-story-1.png");
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#img_story_1 p, #img_story_2 p, #img_story_3 p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
